@import url('https://fonts.googleapis.com/css?family=Forum');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

/* ------Nav------------ */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Fjalla One', sans-serif;
    background-color:#196666;
    height: 100px;
    transition: all 0.3s ease-in;
}
nav:hover{
    box-shadow: 0px 10px 5px 0px black;
    transition: box-shadow 0.3s ease-out;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 38%;
    font-size: 23px;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: 'Neuton', serif;

    color:#000099;
}
.a-hover1:hover{
    color: #b3cce6;
    transition: 0.2s;
}
.a-hover2:hover{
    color: #ffff00;
    transition: 0.2s;
}
.a-hover3:hover{
    color:#1aff66;
    transition: 0.2s;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width:30px;
    height: 2px;
    background-color: #4080bf;
    margin: 5px;
    transition: all 0.5s ease;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
    
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(+45deg) translate(-5px, -6px);
}
/* -------End Nav -------------- */
/* -------main -------------- */
main{
    height: 78vh;
    background-image: url('../img/about-back.jpg');
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -20px;
}
.academic{
    font-family: 'Fredericka the Great', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right:1px solid #fff;
    padding-right: 10px;
   
}
.academic  h1, h2, .skills h1,.human h1{
    color:#e6e600;
}
.academic p,.skills p,.human p{
    color: #fff;
}
.skills{
    
    font-family: 'Fredericka the Great', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right:1px solid #fff;
    padding-right: 10px;
}
.human{
    
    font-family: 'Fredericka the Great', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -30px;
}

.project h1{
    color:#e6e600;
    font-family: 'Fredericka the Great', cursive;
    position: relative;
    top: -10px;
}
.project-holder {
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: space-around;

}
.petshop-img{
    width: 400px;
    height: 250px;
}
.restaurant-img{
    width: 400px;
    height: 250px;
}
/* -------End main-------------- */
/* -----------Footer -------------------*/
footer{
    background-color:#0f3e3e;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 9vh;
}
.socialMedia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: 80px;
    width: 200px;
}

.link {
    color:#999900;
    padding-right: 10px;
    font-size: 2.5em;
}
.link:hover{
    color: #ffff1a;
    transition: all 0.3s ease-in;
}
.copyRight{
    display: block;
    color:#fff;
    letter-spacing: 2px;
}
/* -------------End of footer--------- */
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%
    }
}
@media screen and (max-width:833px){
    main{
        background-image: none;
        background-color: grey;
        height: 1200px;
        position: relative;
    }

    .about{
        display: flex;
        flex-direction: column;
        height: 600px;
        position: relative;
        top: -30px;
        background-color: none;
    }
    .project{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        position: relative;
        top:-30px;
    }
    
    .project-holder{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}

@media screen and (max-width:764px){
    body{
     overflow-x: hidden;
     
    } 
     .nav-links{
        position:absolute;
        right: 0px;
        height: 92vh;
        top: 13vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger{
        display: block;
        margin-left: 10px;
    }
   
}
.nav-active{
    transform: translateX(0%);  
    background-color: rgba(64, 64, 64,90%); 
}
